body {
  font-family: "Rock Salt", sans-serif;
  font-weight: 700;
  background-color: #2C2930;
}

footer {
    margin: 4rem auto;

    @media (width <= 60em) {
        font-size: 20%;
    }
}

@media (width <=60em) {
    .sticky-notes {
        display: none;
    }
}

/* STICKY NOTES TABS COLUMN */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
    background-color: #2C2930;
    width: 100%;
    height: 100vh;
    overflow: visible;
}


/* MAIN COLUMN */
#menu-btn {
  display: none;
}

@media (width <= 60em) {
  #menu-btn {
    all: unset;
    display: flex;
    align-self: flex-start;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #b8c5c0;
    background-color: #2C2930;
    border-radius: 10px;
    font-weight: 500;
    text-shadow: 2px 1px 5px black;
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 15px;
  }

  #menu-btn:hover{
    cursor: pointer;
  }
}

.main {
    position: relative;
    background-image:url('./assets/images/bg-images/main-background.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    z-index: 10;
    justify-content: start; 
    align-items: center; 

    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.2);

    @media (width <=60em) {
        width: 100vw;
    }
}

#logo {
    display: block;
    margin: auto auto;
    width: 50vh;
    object-fit: contain;
    align-items: center;
    position: relative;
    z-index: 2;

    @media (width <=60em) {
        margin-top: 0px;
        width: 60%;
    }
}
#logo:hover {
    cursor: pointer;
}

#about {
    width: 65%;
    height: auto;
    object-fit: contain;
    margin-bottom: -20px;

}

.content-border-box {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    margin-top: 5%;
    text-align: center;
    padding: 10px 20px;
    color: #d4cecc;
    background-color: #2C2930;
    box-shadow: 10px 10px #b8c5c0;
    border-radius: 10px;
    width: 80%;
    z-index: 2;

    @media (width <=60em) {
        font-size: 16px;
    }
}

.content-border-box h4 {
    text-align: center;
    margin: 0;
    background-color: #5a755a;
    padding: 10px 0;
}

.content-border-box p {
    font-weight: 200;
    padding: 18px 30px;
    display: block;
    margin: 0 auto;
    text-shadow: 2px 1px 5px black;

    @media (width <= 60em) {
        text-align: center;
        font-size: 1.1rem;
    }
}

/* MAIN COLUMN - flipbook*/
#flipbook-container {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    width: auto;
    padding: 30px 0;
    background-image: url('./assets/images/bg-images/watermarble.jpg');
    background-repeat: repeat;
    opacity: 0.9;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);

}

#flipbook {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px;
    position: relative;
    height: auto;
    width: 90vh;
    transition: transform 0.5s;

    @media (width <= 60em) {
        width: 35vh;
    }
}

#flipbook-sizing-wrapper {
      width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.purple-text {
    margin: 2% 15%;
    margin-bottom: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: #96a2c9;
    text-align: center;

    @media (width <= 60em) {
        font-size: 0.8rem;

    }
}

/* When used for pdf link under the flipbook on home page */
.purple-text:link,
.purple-text:visited,
.purple-text:active {
  color: #a0b7fc;;
  font-size: 1.3rem;
}

/* STICKY NOTE COLUMN */
.sticky-notes {
    z-index: 1;
    height: 100vh;
}


.note {
    color: #151515;
    margin-left: 10%;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px 30px;
    padding-right: 50px;
    padding-left: 40px;
    border-radius: 30px 0 0 60px;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.2s ease;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
}

.note p {
    display: block;
    margin: auto auto;
    font-size: 15px;
    text-shadow: -0.2px 0.3px 0.1px rgb(100, 100, 100);
}

.note:hover, .note-menu:hover {
    transform: translateX(30px);
    background-color: #ffefb5;
    box-shadow: -6px 6px 6px rgba(82, 82, 82, 0.2);
}


#homepage-note { 
    background-color: #d08e99;
    border: 5px solid #6f4e53;
    border-right: none;

    @media (width <= 60em) {
        border: 5px solid #6f4e53;
    }
}


#archives-note { 
    background-color: #dbbc83;
    border: 5px solid #c58a1b;
    border-right: none;

    @media (width <= 60em) {
        border: 5px solid #c58a1b;
    }
}

#about-note {
    background-color: #a4cba7; 
    border: 5px solid #5a755a;
    border-right: none;

    @media (width <= 60em) {
        border: 5px solid #5a755a;
    }
}

#join-us-note { 
    background-color: #c0aad2; 
    border: 5px solid #856b9a;
    border-right: none;
    font-size: 88%;

    @media (width <= 60em) {
        border: 5px solid #856b9a;
    }
}

#ripped-page {
    position: absolute;
    right: 0;
    z-index: 1;

    @media (width <=60em) {
        width: 45%;
        height: 200px;
        z-index: -2;
        opacity: 0.7;
    }
}

#ripped-corner {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
    width: 40%;
    opacity: 0.8;

    @media (width <=60em) {
        width: 45%;
        z-index: -2;
        opacity: 0.7;
        height: 150px;
    }
}

#footer {
    margin-bottom: 5%;
    color: #C5BBB8;
}

/* ABOUT PAGE */
#meet-the-team-text {
    margin: 3rem auto;
    color: #C5BBB8;
    text-shadow: 2px 1px 5px rgb(39, 39, 39);
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 80%;

    @media (width <= 60em) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.photo-grid img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    box-shadow: 0 10px 14px rgba(20,20,20,0.2);
}

.photo-grid a:focus img{
    outline: 3px solid #6aa7ff;
    outline-offset: 4px;
}

.photo-grid img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.photo-grid img:hover {
    transform: translateY(-8px) scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
    cursor: default;
}

#maya-temp {
    color:#ff9dad;
    text-align: center;

    @media (width <= 60em) {
        font-size: 10px;
    }
}

/* CONTACT PAGE */
#join-us-img {
    margin-top: 10%;
    width: 50%;

    @media (width <= 60em) {
        width: 90%;
    }
}

/* ARCHIVES PAGE */
#archives {
    display: flex;
    text-align: center;
    margin: 2rem 0;
    width: 88%;
    background-image: url("./assets/images/bg-images/watermarble.jpg");
    background-blend-mode: lighten;
    border-radius: 30px;
}

#archives-bg-overlay{
    display: block;
    margin: 2rem 4rem;
    background-color: #2C2930;
    border-radius: 30px;
}

.prev-issue {
    display: inline-block;
    padding: 0;
    width: 80%;
    margin: 2rem 2rem;
}
.prev-issue img {
    box-shadow: 0px 0px 20px #000000;

    @media (width <= 60em) {
        width: 90%;
    }
}
.prev-issue img:hover {
    box-shadow: 0px 0px 20px #848484;
}
.prev-issue p {
    font-size: 1rem;
    color: #C5BBB8;
}

/* MENU FOR MOBILE PAGE */
#menu-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.note-menu {
    color: #151515;
    margin: 5% auto;
    height: fit-content;
    width: 90%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px 10px;
}